.header {
    display: flex;
    padding: 0.6rem 0.5rem;
    align-items: center;
    justify-content: space-between;
}

.rightElements {
    display: flex;
    flex-wrap: wrap;
    column-gap: 5px;
    align-items: center;
    justify-content: space-between;
}

.title {
    margin: 10px 0;
    font-size: larger;
    font-weight: 500;
}

.mainContent {
    overflow: auto;
    margin: 0px 0 0;
    padding: 0 20px;
    max-height: calc(100vh - 140px);
}

.containerCards {
    gap: 1rem;
    display: grid;
    overflow: auto;
    padding: 0 0 20px;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
}

@media (max-width: 992px) {
    .containerCards {
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    }
}

@media (max-width: 767px) {
    .header {
        flex-direction: column;
        align-items: flex-start;
    }

    .title {
        margin: 10px 8px;
    }

    .rightElements {
        width: 100%;
        justify-content: flex-start;
        gap: 8px;
    }

    .containerCards {
        grid-template-columns: 1fr;
    }
}